; zsh modules
[submodule "zsh/plugins/auto-notify"]
	path = zsh/plugins/auto-notify
	url = https://github.com/MichaelAquilina/zsh-auto-notify
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-you-should-use"]
	path = zsh/plugins/zsh-you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use
[submodule "zsh/plugins/zsh-syntax-highlighting/plugins/auto-notify"]
	path = zsh/plugins/zsh-syntax-highlighting/plugins/auto-notify
	url = https://github.com/MichaelAquilina/zsh-auto-notify
[submodule "zsh/themes/powerlevel10k"]
	path = zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
